In [12]:
import pandas as pd

In [13]:
%run helper_functions.ipynb
%run creating_Dataframes.ipynb

In [14]:
# 'team' is from end of season but some players moved club mid-season
# so have incorrect 'team' for some rows
# get list of actual fixtures - games where there were at least 10 players

fixtures = all_season_df.groupby(['team', 'opponent_team', 'kickoff_time', 'season']).count()['player'][all_season_df.groupby(['team', 'opponent_team', 'kickoff_time', 'season']).count()['player'] > 10]
fixtures = fixtures.reset_index()
fixtures = fixtures[['team', 'opponent_team', 'kickoff_time', 'season']]

**Merging 'fixtures' with 'all_season_df'**




Merging on the columns 'opponent_team', 'kickoff_time', 'season' as they are unique value for each team. Also, replacing the the 'team' coumn in the 'all_season_df' with the 'team' column from 'fixtures'

In [15]:
all_season_df['team'] = all_season_df.merge(fixtures, on = ['opponent_team', 'kickoff_time', 'season'], how = 'left')['team_y']

In [16]:
all_season_df

,player,gw,minutes,team,position,position_name,opponent_team,was_home,total_points,assists,...,selected,team_a_score,team_h_score,threat,transfers_balance,transfers_in,transfers_out,yellow_cards,kickoff_time,season
0,Aaron_Cresswell,1,0,West Ham United,2,DEF,Chelsea,False,0,0,...,14023,1.0,2.0,0.0,0,0,0,0,2016-08-15T19:00:00Z,1617
1,Aaron_Lennon,1,15,Everton,3,MID,Tottenham Hotspur,True,1,0,...,13918,1.0,1.0,0.0,0,0,0,0,2016-08-13T14:00:00Z,1617
2,Aaron_Ramsey,1,60,Arsenal,3,MID,Liverpool,True,2,0,...,163170,4.0,3.0,23.0,0,0,0,0,2016-08-14T15:00:00Z,1617
3,Abdoulaye_Doucouré,1,0,Watford,3,MID,Southampton,False,0,0,...,1051,1.0,1.0,0.0,0,0,0,0,2016-08-13T14:00:00Z,1617
4,Abdul Rahman_Baba,1,0,Chelsea,2,DEF,West Ham United,True,0,0,...,1243,1.0,2.0,0.0,0,0,0,0,2016-08-15T19:00:00Z,1617
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84552,Jack_Simpson,29,71,Bournemouth,2,DEF,Liverpool,False,1,0,...,509248,1.0,2.0,0.0,-7402,2014,9416,0,2020-03-07T12:30:00Z,1920
84553,Miguel_Almirón,29,90,Newcastle United,3,MID,Southampton,False,3,0,...,56161,1.0,0.0,54.0,11,5469,5458,0,2020-03-07T15:00:00Z,1920
84554,Jack_O'Connell,29,90,Sheffield United,2,DEF,Norwich,True,6,0,...,262444,0.0,1.0,24.0,5397,16521,11124,0,2020-03-07T15:00:00Z,1920
84555,Luka_Milivojevic,29,20,Crystal Palace,3,MID,Watford,True,1,0,...,140638,0.0,1.0,0.0,-613,487,1100,0,2020-03-07T15:00:00Z,1920
84556,Çaglar_Söyüncü,29,90,Leicester City,2,DEF,Aston Villa,True,6,0,...,1184951,0.0,4.0,6.0,-28582,25649,54231,0,2020-03-09T20:00:00Z,1920